# Platform-specific dependencies
pywin32==306; platform_system=="Windows"
inotify==0.2.10; platform_system=="Linux"
watchdog==3.0.0

# Core dependencies
requests==2.31.0
python-json-logger==2.0.7
typing-extensions==4.8.0
jsonschema==4.17.3